.form-page-main {
  margin: 0;
  padding: 0;

}

.form-page-main__wrapper {
  margin: 0;
  padding: 0;
  padding-top: 52px;
  padding-bottom: 66px;
  background-image: url($bg-img-mob);
  background-position: bottom;
}


.form-page-main__image-back {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.form-page-main__title {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black-font;
  margin-top: 98px;
  margin-bottom: 21px;
}

.form-page-main__description {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $shade-of-black-font;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}

.form-page-main__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}


.form-page-main_button {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 68px;
  margin-left: 125px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 39.5%;
  background-color: $bgc-blue;
  border: none;
}

.form-page-main_button-text {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $white-font;
}


@media (max-width: 960px) {
  .form-page-main__title {
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .form-page-main_button {
    margin-left: 0;
  }
}

@media (max-width: 770px) {
  
}

@media (max-width: 530px) {
  
}


