.main-nav {
  margin: 0;
  padding: 0;
  /* временно для сетки */
  /* min-height: 220px; */

}

.main-nav__toggle {
  display: none;
  padding: 0;
  margin: 0;
}

.main-nav__wrapper {
  margin: 0;
  padding: 0;
  background-color: $bcg-white;
  /*background-color: $bgc-blue;*/
}

.main-nav__list {
  padding: 0;
  margin: 0;
  
}


/* ---- tablet ---- */

/*
@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    background-color: $bcg-white;
  }

}

@media (min-width: $tablet-width) {
  .main-nav {
  }
}
*/