.modal {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
   
    //display: none;
    top: 0;
    left: 0;
}

.modal__form {
    border: 1px solid $bcg-grey;
    background-color: $bcg-grey;
}

.modal__legend {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    font-family: PTSans, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $white-font;
    text-align: center;
    background-color: $bgc-blue;
}

.conditions {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
}

.conditions:nth-of-type(3),
.conditions:nth-of-type(4) {
    width: 50%;
}


.modal__conditions-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

.conditions__label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.conditions:nth-of-type(3) .conditions__label,
.conditions:nth-of-type(4) .conditions__label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}



.condition__text {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 20%;
    padding-top: 7px;
    font-family: PTSans, Arial, sans-serif;
    font-size: 18px;
}

.conditions:nth-of-type(3) .condition__text,
.conditions:nth-of-type(4) .condition__text{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 20%;
    padding-top: 7px;
}


.conditions__input {
    margin: 0;
    padding: 0;
    width: 80%;
    border: none;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.conditions__input::placeholder {
    font-family: PTSans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $black-font;
    text-align: center;
}

.conditions:nth-of-type(3) .conditions__input,
.conditions:nth-of-type(4) .conditions__input {
    margin: 0;
    padding: 0;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal__button-find {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: none;
    background-color: $bgc-blue;
    font-family: PTSans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $white-font;
}


.modal__button {
    position: absolute;
    top: 20px;
    right: 20px;
  
    width: 20px;
    height: 20px;
  
    font-size: 0;
  
    background: none;
    border: 0;
  }
  
  .modal__button::after,
  .modal__button::before {
    content: "";
  
    position: absolute;
    right: 0;
    top: 20px;
    left: 0;
    width: 26px;
    height: 6px;
    margin: -13px -3px;
  
    background-color: $white-font;
  }
  
  .modal__button::before {
    transform: rotate(45deg);
  }
  
  .modal__button::after {
    transform: rotate(-45deg);
  }
  
  .modal--show {
    display: block;
  }