.modal {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.modal__form {
    border: 1px solid gray;
}

.modal__legend {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    font-family: PTSans, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $white-font;
    text-align: center;
    background-color: $bgc-blue;
}

.conditions {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
}

.conditions:nth-of-type(3),
.conditions:nth-of-type(4) {
    width: 50%;
}


.modal__conditions-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

.conditions__label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.conditions__label:nth-of-type(3),
.conditions__label:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}



.condition__text {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 19%;
}

.conditions:nth-of-type(3) .condition__text,
.conditions:nth-of-type(4) .condition__text{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 18%;
}


.conditions__input {
    margin: 0;
    padding: 0;
    width: 80%;
}
.conditions:nth-of-type(3) .conditions__input,
.conditions:nth-of-type(4) .conditions__input {
    margin: 0;
    padding: 0;
    width: 80%;
}

.modal-button {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: none;
    background-color: $bgc-blue;
    font-family: PTSans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $white-font;
}