.page-header {
  margin: 0;
  padding: 0;
}

.page-header__logo-buttom-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-header__logo {
  margin: 0;
  padding: 0;
  margin-bottom: -14px;

}

.page-header__logo-image {
  margin: 0;
  padding: 0;
  position: relative;
  width: 185px;
  height: auto;
  z-index: 3;
  margin-top: -57px;
}


/* ---- tablet ---- */

@media (max-width: 1120px) {
  .page-header__logo-image {
    margin-top: -75px;
  }
}


@media (max-width: 960px) {
  .page-header__logo-image {
    margin-top: -67px;
  }
}

@media (max-width: 770px) {
  .page-header__logo-image {
    margin-top: -81px;
    width: 170px;
  }
}

@media (max-width: 530px) {
  .page-header__logo-image {
   //display: none;
   width: 147px;
  }
}


/* ---- placeholder ---- */

.page-header__logo-imageP {
  margin: 0;
  padding: 0;
  position: relative;
  width: 185px;
  height: auto;
  z-index: 3;
  margin-top: -57px;
}

@media (max-width: 1120px) {
  .page-header__logo-imageP {
    margin-top: -75px;
  }
}

@media (max-width: 960px) {
  .page-header__logo-imageP {
    margin-top: -67px;
  }
}

@media (max-width: 770px) {
  .page-header__logo-imageP {
    margin-top: -81px;
    width: 170px;
  }
}

@media (max-width: 530px) {
  .page-header__logo-imageP {
   //display: none;
   width: 147px;
  }
}

.page-header__logo-imageF {
  margin: 0;
  padding: 0;
  position: relative;
  width: 185px;
  height: auto;
  z-index: 3;
  margin-top: -57px;
}

@media (max-width: 1120px) {
  .page-header__logo-imageF {
    margin-top: -75px;
  }
}

@media (max-width: 960px) {
  .page-header__logo-imageF {
    margin-top: -67px;
  }
}

@media (max-width: 770px) {
  .page-header__logo-imageF {
    margin-top: -81px;
    width: 170px;
  }
}

@media (max-width: 530px) {
  .page-header__logo-imageF {
   //display: none;
   width: 147px;
  }
}
