.page-header {
  margin: 0;
  padding: 0;
}

.page-header__logo-buttom-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-header__logo {
  margin: 0;
  padding: 0;
  margin-bottom: -14px;

}

.page-header__logo-image {
  margin: 0;
  padding: 0;
  position: relative;
  width: 185px;
  height: auto;
  z-index: 3;
  margin-top: -53px;
}


/* ---- tablet ---- */

@media (max-width: 960px) {
  .page-header__logo-image {
    margin: 0;
    padding: 0;
    margin-top: -67px;
  }
}



