.photo-page-main {
  margin: 0;
  padding: 0;
}


.photo-page-main__wrapper {
  margin: 0;
  padding: 0;
  padding-top: 102px;
  padding-bottom: 120px;
  background-image: url($bg-img-desk);
  width: 100%;
  margin-top: -31px;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.photo-page-main__wrapper::after {
  content: "";
  width: 101%;
  height: 54px;
  position: absolute;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/bg-intro-triangle-desktop.svg");
  left: -1px;
  bottom: 0;
}


.photo-page-main__image-back {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.photo-page-main__title {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black-font;
  margin-top: 99px;
}

.photo-page-main__description {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $shade-of-black-font;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 74px;
  margin-left: auto;
  margin-right: auto;
}

.photo-page-main__list {
  margin: 0;
  padding: 0;

}

.photo-page-main__video {
  margin: 0;
  padding: 0;


}


@media (max-width: 1120px) {
  .photo-page-main__wrapper::after {
    height: 46px;
  }
  .photo-page-main__wrapper {
    margin-top: -25px;
  }
}

@media (max-width: 960px) {
  
  .photo-page-main__wrapper::after {
    height: 37px;
  }
}

@media (max-width: 770px) {
  .photo-page-main__wrapper::after {
    bottom: -12px;
    height: 37px;
  }
  .photo-page-main__title {
    margin-top: 30px;
  }
  .photo-page-main__description {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .photo-page-main__image-back {
    width: 350px;
  }
}

@media (max-width: 530px) {
  .photo-page-main__wrapper::after {
    height: 37px;
  }
  .photo-page-main__image-back {
    width: 100%;
  }
}

@media (max-width: 515px) {
  .photo-page-main__wrapper::after {
    display: none;
  }
}