.social {
  margin: 0;
  padding: 0;
  margin-top: 49px;
  margin-bottom: 58px;
}

.social__item {
  text-align: center;
  list-style: none;

}

.social__link {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  list-style: none;

}



@media (max-width: 530px) {
  .social {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .social-sites {
    width: 25px;
    height: 25px;
    padding-top: 5px;
    
  }
}
