/* colors */
$bgc-blue: #81b3d2;
$bcg-grey: #eeeeee;
$bcg-white: #ffffff;
$bcg-shade-of-gray: rgb(238,238,238);
$white-font: #ffffff;
$black-font: #000000;
$shade-of-black-font: #333333;
$rose-red: rgba(255, 0, 0, 0.918);

/*screen size */
$tablet-width: 768px;
$desktop-width: 1200px;

/* images */
$bg-img-mob: "../img/bg-back-mobile@1x.jpg";
$bg-img-tab: "../img/bg-back-tablet@1x.jpg";
$bg-img-desk: "../img/bg-back-desktop@1x.jpg";
